:root {
    --background-color: #f4efe3;
    --color-primary: #e7b04d;
    --color-secundary: #f4efe3;
    --bg-color-primary: #2f5834;
    --bg-color-secundary: #1e3e1f;
    --color-geral: #333;
}

/*Estilos gerais*/
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: var(--color-geral);
    box-sizing: border-box;
}

body {
    position: relative;
    background: var(--color-primary) url(https://cdn.pixabay.com/photo/2024/03/10/16/13/flower-8625039_1280.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*body::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
     0.2 = 20% escuro → imagem fica com ~0.8 
    z-index: 0;
}*/
/*Button*/
button {
    background-color: var(--background-color);
    color: var(--bg-color-secundary);
    border: 2px solid var(--color-primary);
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: var(--color-primary);
}

button:hover >i {
    color: var(--color-secundary);
}

button i {
    color: var(--bg-color-secundary);
    font-weight: bold;
    pointer-events: none
        /*Isto faz com que quando clicado no icon faz de conta que foi clicado o botão*/
}

/*Input e Select*/
input,
select {
    padding: 0.25rem 0.8rem;
}

.hide {
    display: none;
}

/*Todo eheader*/
.todo-container {
    max-width: 450px;
    margin: 2rem auto;
    background-color: var(--background-color);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid var(--color-primary);
    position: relative;

    & h1 {
        color: var(--bg-color-secundary);
    }

}
    .btn-info {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        height: 1.7rem;  
    }

.btn-info:hover > em {
    color: var(--color-secundary);
}

/*Formulários*/
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary);
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
    color: var(--bg-color-secundary);
}

.form-control {
    display: flex;
}

.form-control #input,
.form-control #edit-input {
    flex: 1;
    padding: 0.68rem 0.6rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color-primary);
}

.form-control #input::placeholder,
.form-control #edit-input::placeholder {
    font-size: 0.96rem;
    color: var(--color-primary);
    opacity: 0.4;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/*Área de ferramentas: filter e pesquisas*/
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid var(--color-primary);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/*A lista de todas tarefas*/
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
    color: #2f5834;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: rgba(231, 177, 77, 0.761);
    border-radius: 5px;
}

.done h3 {
    color: var(--color-secundary);
    text-decoration: line-through;
    font-style: italic;
}

/*Overlay*/
.overlay {
    position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.96);
     display: flex;
     align-items: center;
     justify-content: center;
    z-index: 2;  
}

/*Modal-info*/

.hidden {
    display: none;
}

.modal-info {
    position: relative;
    background-color: var(--background-color);
    max-width: 35%;
    height: 45%;
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 0 14px rgba(252, 146, 146, 0.4);
    z-index:4 ;
    transition: 0.4s;
    animation: openModal 1s linear;
}

.photo-perfil {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 2rem;

    & .photo{
        width: 4rem;
        height: 4rem;
        background-color: #e7b04d;
        clip-path: circle(50%);
    }

    & .about-author p {
        color:#2f5834;
        text-decoration: underline;
    }

}


.app-info {
 padding-left: 1.2rem;

 & p {
    line-height: 1.5;
    font-size: 0.96rem;
 }
}


@keyframes openModal{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}


